{
        "TRAN_CLASS":"{{TRAN_CLASS}}",
        "CLERK_ID ":"{{CLERK_ID}}",
        "TRAN_TYPE_ID":"{{TRAN_TYPE_ID}}",
        "RETRIEVAL_REF_NO":"{{RETRIEVAL_REF_NO}}",
        "FIN_TYPE : "{{FIN_TYPE}}",
        "TRAN_CLASS":"{{TRAN_CLASS}}",
        "INST_ID_RECON_ISS":"{{INST_ID_RECON_ISS}}",
        "INST_ID_RECON_ACQ":"{{INST_ID_RECON_ACQ}}",
        "kafka_gg_ts" : "{{KAFKA_OP_TIME}}",
        "TSTAMP_TRANS" : "{{TSTAMP_TRANS}}",
        "AMT_TRAN" : "{{AMT_TRAN}}",
        "source":"FIN_L_R"
        }